.section {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    margin: 0 0;
}

.project-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    transition-duration: 300ms;
    display: inline-block;
}

.main-splash {
    display: block;
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    width: 120px;
    background: rgba(0, 0, 0, .6);
    color: white;
    font-weight: 700;
    border-radius: 32px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 12px;
    left: 24px;
    top: 24px;
    transition: background .1s, color .1s;
}

.back:hover {
    background-color: #00A101;
}

.back a {
    color: white;
    text-decoration: none;
}

.ending {
    background: rgb(50, 50, 50);
    padding: 10px;
    width: 100%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.ending a{
    text-decoration-color: #00A101;
    color: #00A101;
}