title {
    color: rgb(36, 177, 36);
}

body {
    background: #242424;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    color: rgb(17, 90, 17);
}

h2 {
    color: rgb(17, 90, 17);
    font-size: 40px;
}

p {
    color: white;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
    line-height: 1.5em;
}

div {
    color: white;
}

.banner {
    position: fixed;
    background: #000 url("images/noahbg.jpg") center center;
    background-size: cover;
    width: 45%;
    height: 100%;
    float: left;
    z-index: 100;
}

.banner .vignette {
    background: url("images/vignette.png") center center no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.banner .info {
    position: absolute;
    width: calc(100% - 128px);
    left: 64px;
    bottom: 64px;
}

.banner .info img {
    width: 20%;
    border-radius: 50%;
    float: left;
}

.banner .info .about {
    width: 75%;
    float: right;
}

.banner .info h1 {
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}

.banner .info p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    opacity: 0.9;
    font-size: 1.1em;
    text-align: justify-all;
    width: 100%;
    float: left;
}

.banner .social {
    position: absolute;
    top: 24px;
    left: 24px;
}

.banner .social a {
    width: 64px;
    height: 64px;
    float: left;
    background: url('images/social.png') no-repeat;
}

.banner .social .twitter {
    background-position: -64px 0px;
}

.banner .social .tumblr {
    background-position: -128px 0px;
}

.banner .social .email {
    background-position: -0px 0px;
}

.banner .social .twitter:hover {
    background-position: -64px -64px;
}

.banner .social .tumblr:hover {
    background-position: -128px -64px;
}

.banner .social .email:hover {
    background-position: -0px -64px;
}

.content {
    position: relative;
    width: 55%;
    min-height: 100%;
    float: right;
    overflow-x: hidden;
    overflow: visible;
    padding-top: 60px;
}

.project-wrapper-major {
    position: relative;
    width: 400px;
    height: 209px;
    background-color: white;
    transition-duration: 300ms;
    display: inline-block;
}

.project-wrapper-major img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: opacity .25s, transform .25s;
}

.project-wrapper-major:hover {
    background-color: aquamarine;
}

.project-wrapper-major:hover .pointer {
    width: 100%;
    opacity: .7;
}

.project-wrapper-major:hover .splash-text {
    top: 50%;
    opacity: 1;
}

.project-wrapper-lesser {
    position: relative;
    width: 350px;
    height: 175px;
    background-color: white;
    transition-duration: 300ms;
    display: inline-block;
}

.project-wrapper-lesser img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: opacity .25s, transform .25s;
}

.project-wrapper-lesser:hover {
    background-color: aquamarine;
}

.project-wrapper-lesser:hover .pointer {
    width: 100%;
    opacity: .7;
}

.project-wrapper-lesser:hover .splash-text {
    top: 50%;
    opacity: 1;
}

.pointer {
    position: absolute;
    transition: all 300ms ease;
    opacity: 0;
    background-color: rgb(17, 90, 17);
}

.pointer-hovering {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.splash-text {
    Color: white;
    opacity: 0;
    transition: all 300ms ease;
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translate(0%, -50%);
    font-size: 30px;
    text-align: center;
}

.splash-text a {
    Color: white;
    text-decoration: none;
}

.ending {
    background: gray;
    width: 100%;
    padding: 60px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.portfolio {
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
}