body {
    background-color: #ffffd1;
}

img {
    max-width: 100%;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 0.2em;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    text-align: center;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav li {
    background: #093;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}

nav li a {
    color:#FFFFFF;
    text-decoration: none;
}

.mobile {
    display: inline;
}

.desktop{
    display: none;
}

.tablet{
    display: none;
}

main {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: len;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 1em;
    background-color: #FFFFFF;
    border-top: solid 0.2em #093;
    border-bottom: solid 0.2em #093;
}

footer {
    font-size: .70em;
    text-align: center;
    margin-top: 2em;
}

.equip {
    display: none;
}