body {
    color: #000000;
    background-color: #ffd18d;
    font-family: "Calibri", sans-serif;
}

.floatleft {
    float: left;
    margin-right: 2%;
}

.floatright {
    float: right;
    margin-left: 2%;
}

nav ul {
    list-style-type: none;
}

.boldtext, dt {
    font-weight: bold;
}